<div class="booyah-box col-10 offset-1">
  <h1>New Article</h1>
  <%= simple_form_for @article do |f| %>
    <%= f.input :picture %>
    <%= f.input :article_name %>
    <%= f.input :tagline %>
    <%= f.input :article, :input_html => {:rows => 50} %>
    <br />
    <%= f.submit 'Post', class: 'btn btn-outline-success' %>
  <% end %>
</div>