<div class="search-header">
  <h1>Search For A Game Or Select From Below</h1>
</div>
<hr />

<% @games.each do |result| %>
  <div class="booyah-box-search col-8 offset-2">
    <% if result["background_image"].nil? %>
      <%= "No image found" %>
    <% else %>
      <%= image_tag result["background_image"], class: 'img d-block img-fluid' %>
    <% end %>

    <p><%= result["name"] %></p>

    <% if result["platforms"].nil? %>
      <%= "No platforms found" %>
    <% else %>
      <% result["platforms"].each do |platform| %>
        <i>'<%= platform["platform"]["name"] %>'</i>
      <% end %>
    <% end %>

    <%= link_to 'New Article', new_article_path(name: result["name"]), class: 'float-right' %>

  </div>
<% end %>